/* color scheme sourced from https://coolors.co/palettes/trending */
:root {


    --red: #f94144;
    --orange: #f3722c;
    --juice: #f8961e;
    --grpfrt: #f9844a;
    --mustard: #f9c74f;
    --bush: #90be6d;
    --pine: #43aa8b;
    --winter: #4d908e;
    --blubry: #577590;
    --ocean: #277da1;
    --grape: #666699;
  }
 
  *{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    
  }

  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: var(--juice);
    width:100%;
    margin: 0px;
    padding: 0px;
  }

  header {
    display: flex;
    justify-content: space-between;
  /*  background-color:var(--mustard);*/
    background-image: linear-gradient(#f9c74f, var(--orange));
    padding: 1%;
    width: 100%;
    margin: 0px;
  }

  h1{
    color: var(--ocean);
    font-size: 250%;
  }
  

  nav ul{
    display:flex;
    justify-content: space-between;
    min-width: 300px;
    align-items: flex-end;
  }
  nav ul a{
    font-size: 200%;
    color: var(--ocean);
    text-decoration: underline;
    padding: 15px;
    min-width: 100px;
  }

  nav ul a:hover{
    color: var(--winter);
  }
  
  nav ul a:active{
    color: var(--bush);
  }

  main{
    height:100%
  }

  section{
    display: flex;
    width: 100%;
    min-height: 300px;
    border-top: 5px solid var(--grape);
  }
  section p{
    color: purple;
    font-size: 150%;
    padding: 40px;
    width: 50%;
  }
  
  h2{
    display: flex;
    min-width: 250px;
    text-align: left;
    background-color: var(--juice);
    color: var(--grape);
    padding: 1%;
    font-size: 200%;
    height: 100px;
    margin-top: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  
  #about-me{
    background-image: linear-gradient(var(--orange), var(--red));
  }

  #about-me div{
    margin: 10px;
    scale: 100%;
    margin: 10px;
    height: 400px;
    width: 400px;
    min-width: 400px;
    padding: 0px;
    border-radius: 10px;
    border: 3px solid var(--grape);
    background-color: var(--grape);
    margin-left: 100px;
  }

  div img{
    height: 100%;
    width: 100%;
    padding: 0px;
  }

  #about-me div img{
    border-radius: 10px;
  }

  #work{
    background-image: linear-gradient(var(--red), var(--blubry));
    display: flex;
    flex-wrap: wrap;
  }


  #work-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  #work-div div{
    opacity: 0.7;
    filter: alpha(opacity=40);
    width: 35%;
    padding: 0px;
    border: 3px solid var(--grape);
    margin: 10px;
    margin-left: 175px;
    margin-right: 175px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #main-work{
    opacity: 0.7;
    filter: alpha(opacity=40);
    width: 75%;
    min-width: 60%;
    padding: 0px;
    border: 3px solid var(--grape);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  h3{
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 33px;
    background-image: linear-gradient(var(--mustard), var(--orange));
  }

  #main-work:hover{
    opacity: 1;
    filter: none;
    border: 7px solid var(--winter);
    margin: 7px;
  }

  #work-div div:hover{
    opacity: 1;
    filter: none;
    border: 7px solid var(--winter);
    margin: 7px;
    margin-left: 200px;
    margin-right: 200px;
  }

  

  #contact{
    background-image: linear-gradient(var(--blubry), var(--winter));
  }

  
  footer{
    background-color: var(--winter);
    text-align: center;
    padding: 1%;
    border-top: 5px solid var(--grape);
  }

  footer a{
    text-decoration: none;
    font-size: 125%;

  }
  

  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
  @media screen and (min-width: 768px) {
  

}
 
  
  /* media query for larger screens */
  @media screen and (max-width: 992px) {
    header {
      width: 100%;
      flex-direction: column;
    }

    nav ul{
      flex-direction: column;
    }

    nav ul li{
      border-top: 4px solid var(--grape);
      padding: 1%;
      text-align: center;
      width: 100%;
      text-decoration:none;
      margin: 0px;
    }

    section{
      flex-direction: column;
    }

    section p{
      width: 100%;
    }

  
  }
  